

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
  }

  .wisata-wrapper {
    width: 95%;
    margin: 0 auto;
  }
.wisata-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.wisata-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.wisata-section {
    padding-block: 5rem 1rem;
    max-height: 2000px;
    background-color: #99EDC3;;
}


.wisata-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem; 
    border-radius: 1rem;
}

.wisata-img {
    transform: 0.9s;
    display: block;
    max-width: 100%;
    height: auto;
    transition: 0.5s;  
    object-fit: cover;
}

.wisata-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0,0%,0%,0) 50%, hsl(0,0%,0%) 125%);
}

.wisata-title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.wisata-location {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: small;
    font-weight: 500;
}

.wisata-location i {
    font-size: 1rem;
}

.wisata-image:hover .wisata-img {
    transform: scale(1.2);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .wisata-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}



#search-container-wisata {
    margin: 1em 0;
  }
  #search-container-wisata input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
  #search-container-wisata input:focus {
    border-bottom-color: #6759ff;
    
  }
  #search-container-wisata button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .button-value-wisata {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
  }
  .button-value-wisata::after {
    background-color: #6759ff;
    color: #ffffff;
  }
  #products-wisata {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card-wisata {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }
  .image-container-wisata {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container-wisata {
    padding-top: 1em;
    color: #110f29;
  }
  .container-wisata h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card-wisata {
      max-width: 10em;
      margin-top: 1em;
    }
    #products-wisata {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }